:root {
  --darkcyan: hsl(158, 36%, 37%);
  --darkcyan2: hsl(158, 36%, 20%);
  --cream: hsl(30, 38%, 92%);

  --darkblue: hsl(212, 21%, 14%);
  --darkgrayblue: hsl(228, 12%, 48%);
  --white: hsl(0, 5%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3 {
  line-height: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: grid;
  place-content: center;
  background-color: var(--cream);
  margin: 1rem;
}

.product {
  display: grid;
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}

.product__type {
  font-family: var(--ff-base);
  color: var(--darkgrayblue);
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: var(--fw-regular);
}

.product__title {
  font-family: var(--ff-accent);
  color: var(--darkblue);
  font-size: 2rem;
}

.product__info {
  font-family: var(--ff-base);
  font-size: 0.875rem;
  color: var(--darkgrayblue);
}

.product__content {
  display: grid;
  gap: 0.75rem;
  padding: 2rem;
}

.flex_group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.product__price {
  font-family: var(--ff-accent);
  color: var(--darkcyan);
  font-size: 2rem;
}

.product__price-original {
  font-family: var(--ff-base);
  color: var(--darkgrayblue);
  font-size: 0.875rem;
}

.button {
  cursor: pointer;
  background-color: var(--darkcyan);
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-size: 0.92rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: var(--white);
}

.button:is(:hover, :active) {
  background-color: var(--darkcyan2);
}

@media (min-width: 621px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
}
